<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Conductores</title>
    <link rel="stylesheet" th:href="@{/Estilos.css}">
</head>

<body>

<div class="container">

    <a th:href="@{/PaginaPrincipal}" class="btn btn-secondary">← Volver</a>

    <h2>Gestión de Conductores</h2>
    <hr>

    <!-- FORMULARIO -->
    <div class="card">
        <form th:action="@{/conductores/guardar}" th:object="${conductor}" method="post">


            <input type="hidden" th:field="*{idConductor}">

            <div class="row">

                <div class="col-md-6">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control"
                           th:field="*{nombre}"
                           placeholder="Ej: Juan Pérez" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Licencia</label>
                    <input type="text" class="form-control"
                           th:field="*{licencia}"
                           placeholder="Ej: B1234567" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Años de Experiencia</label>
                    <input type="number" class="form-control"
                           th:field="*{aniosExperiencia}"
                           placeholder="Ej: 5" required>
                </div>

                <div class="col-12 mt-2">
                    <button type="submit" class="btn btn-success">
                        Guardar Conductor
                    </button>
                </div>

            </div>

        </form>
    </div>

    <!-- TABLA -->
    <table class="table">

        <thead>
        <tr>
            <th>ID Conductor</th>
            <th>Nombre</th>
            <th>Licencia</th>
            <th>Años Experiencia</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="conductor : ${conductores}">
            <td th:text="${conductor.idConductor}"></td>
            <td th:text="${conductor.nombre}"></td>
            <td th:text="${conductor.licencia}"></td>
            <td th:text="${conductor.aniosExperiencia}"></td>

            <td>
                <a th:href="@{/conductores/editar/{id}(id=${conductor.idConductor})}"
                   class="btn btn-warning">
                    Editar
                </a>

                <a th:href="@{/conductores/eliminar/{id}(id=${conductor.idConductor})}"
                   class="btn btn-danger"
                   onclick="return confirm('¿Seguro que deseas eliminar este conductor?')">
                    Borrar
                </a>
            </td>
        </tr>
        </tbody>

    </table>

</div>

</body>
</html>