<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Metro Login</title>
    <link rel="stylesheet" th:href="@{/css/LoginStyle.css}">
</head>
<body>
<div class="login-card">
    <h3>METRO SYSTEM</h3>

    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label class="form-label">Correo Electrónico</label>
            <input type="email" name="email" class="form-control" placeholder="usuario@metro.com" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" name="password" class="form-control" placeholder="••••••••" required>
        </div>
        <button type="submit" class="btn-primary">INGRESAR</button>
    </form>

    <p th:if="${error}" class="text-danger" th:text="${error}"></p>
</div>
</body>
</html>